<a href="https://colab.research.google.com/github/damiandelaguardia/BTE-Assignments-/blob/main/In_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r= 3
pi= 3.14
h = 10
Area = 2*pi*r**2 + 2*pi*r*h
print(Area)

244.92000000000002

In [ ]:
p1 = input("Choose r,p,s:")
p2 = input("Choose r,p,s:")

if p1 == p2:
  print('Draw')
elif (p1 == 'r' and p2 == 's') or (p1 == 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
  print('p1 wins!')
else:
  print('p2 wins!')

Choose r,p,s:r
Choose r,p,s:p
p2 wins!

In [ ]:
n1 = float(input())
n2 = float(input())

Symbol = input("Choose op:")
if Symbol == "+":
  print(n1+n2)
if Symbol == "-":
  print(n1-n2)
if Symbol == "*":
  print(n1*n2)
if Symbol == "/":
  print(n1/n2)

10
2
Choose op:/
5.0

In [ ]:
c = input('Do you want to play rock, paper, scissors?: ')

while c == 'yes':
  p1 = input("Choose r,p,s: ")
  p2 = input("Choose r,p,s: ")
  if p1 == p2:
   print('Draw')
  elif (p1 == 'r' and p2 == 's') or (p1 == 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
   print('p1 wins!')
  else:
   print('p2 wins!')
  c = input('Play again?: ')
else:
  print('Thanks for playing!')

Do you want to play rock, paper, scissors?: yes
Choose r,p,s: p
Choose r,p,s: r
p1 wins!
Play again?: no
Thanks for playing!

In [ ]:
import random

c = input('Do you want to play rock, paper, scissors?: ')

while c == 'yes':
  p1 = input("Choose r,p,s: ")
  p2 = random.choice(['r','p','s'])

  print(f'Computer chose {p2}.')
  if p1 == p2:
   print('Draw')
  elif (p1 == 'r' and p2 == 's') or (p1 == 's' and p2 == 'p') or (p1 == 'p' and p2 == 'r'):
   print('p1 wins!')
  else:
   print('Computer wins!')
  c = input('Play again?: ')
else:
  print('Thanks for playing!')

Do you want to play rock, paper, scissors?: yes
Choose r,p,s: r
Computer chose s.
p1 wins!
Play again?: no
Thanks for playing!

In [ ]:
for i in range(1,9,1):
  charge = 5 + 2.5 * i
  print(i, charge)

1 7.5
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 22.5
8 25.0

In [ ]:
for i in range(1,9,1):
  charge = 5 + 2.5 * i
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(i, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
fixedcost = 200
ticket = 10
att = 20

for i in range(0,201,25):
  profit = ticket * (att + 2 * round(i ** 0.5)) - fixedcost - i
  print(i, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
fixedcost = 200
ticket = 10
att = 20

i = 0

while i < 201:
  profit = ticket * (att + 2 * round(i ** 0.5)) - fixedcost - i
  print(i, profit)
  i = i + 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
L = []
item = int(input('Give a value: '))
while item != 0:
  L.append(item)
  item = int(input('Give another value: '))
print(L)

Give a value: 1
Give another value: 4
Give another value: 5
Give another value: 6
Give another value: 8
Give another value: 9
Give another value: 0
[1, 4, 5, 6, 8, 9]

In [ ]:
L = []

while True:
  item = int(input('Give another value: '))
  if item == 0:
    break
  L.append(item)
print(L)

Give another value: 1
Give another value: 5
Give another value: 7
Give another value: 8
Give another value: 0
[1, 5, 7, 8]

In [ ]:
months = {}

names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(0,12):
  months[numbers[i]]=names[i] #

print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
months = {}

names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for n in numbers:
  months[n] = names[n-1]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months = {}

names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for i in range(12):
  months[i+1] = names[i]

months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
def calcFee(hours):
  fee = 5 + hours * 2.5
  return fee

h = int(input('Enter number of hours: '))
fee = calcFee(h)
print(fee)

Enter number of hours: 2
10.0

In [ ]:
def calcFee(hours,decimals = 2):
  fee = 5 + hours * 2.5
  fee = round(fee, decimals)
  return fee

def displayFee(fee):
  print(fee)

h = int(input('Enter number of hours: '))
fee = calcFee(h)
displayFee(fee)

Enter number of hours: 2
10.0

In [10]:
s = "Hello"

def res(s):
  if len(s) == 1:
    return s
  else:
    return "olleH"
print(res(s))

olleH

rev(s[1:]) + s[0]
s[-1] + rev(s[1:-1]

In [13]:
def rev(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + rev(s[:-1])
rev("halloween")

'neewollah'